/* css styles */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Oswald';
  font-size: 1.2em;
}

/* Override Bootstrap navbar-logo dimensions */
.navbar-logo{
max-height: 75px !important;
width: 150px !important;
padding-right: 4px;
}

.button_custom {
  display: block;
  width: 100%;
/*  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 16px; */
  cursor: pointer;
  text-align: center;
}

